.home {
    
    .home_benefits{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 2rem;
        margin-top: 2.5rem;
        
        .benefits_item {
            margin: 0 0 1.5rem;
            .fa-hand-holding-usd {
                font-size: 5rem;
            }
            .itemText {
                font-size: 2.5rem;
                color: @home-h3-color;
            }
        }
    }
    .home_intro {
        padding: 0 1.8rem;
        display: block;
        text-align: center;
        border-bottom: 1px solid @menuBtn-color;
        p {
            margin: 1.5rem 0 2rem;
            color: @header-font-color;
            font-size: 1.5rem;
        }
        .mobileBtn {
            .pageButton();
            margin-bottom: 2rem;
            min-width: 26.5rem;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 4.2rem;
            padding: 0 7px;
            @media @desktop {
                &:hover {
                box-shadow: 0 5px 15px rgba(194, 252, 247, 0.4);
                }
            }
        }
    }
    .p-abovecarousel {
        text-align: center;
        color: @home-h3-color;
        padding-top: 2rem;
    }

    .lower {
        
        .lower1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid @header-font-color;
        border-radius: 5rem;
        padding: 2rem;
        margin: 3rem;
        background: linear-gradient(180deg,rgb(17, 46, 70) 0,rgb(32, 88, 134) 31.87%,rgb(44, 124, 116) 90.06%);
        }
        p {
            padding: 2rem 4rem 3rem 4rem;
            
        }
        .lower2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 3px solid @header-font-color;
            border-radius: 5rem;
            padding: 2rem;
            margin: 3rem;
            background: linear-gradient(180deg,rgb(17, 46, 70) 0,rgb(32, 88, 134) 31.87%,rgb(44, 124, 116) 90.06%);
        }
    }
}