.button() { //For mobile side nav
    color: white;
    min-width: 100%;
    height: 3.8rem;
    margin-bottom: 1.8rem;
    background: @navSideBtns;
    cursor: pointer;
    border-radius: 10rem;
    border: 0;
    font-size: 2rem;
    outline: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    @media @desktop { //For desktop Top nav
        align-content: center;
        min-width: 11.2rem;
        font-size: 1.6rem;
        margin: 0 0 0 2rem;
        padding: 0 .8rem;
    }
}

.pageButton() {
    color: white;
    background: @navSideBtns;
    cursor: pointer;
    border-radius: 10rem;
    border: 0;
    font-size: 1.6rem;
    outline: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}