/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #1b232d;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #29f3db;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
  color: #cffbff;
}
p {
  color: #29f3db;
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  height: 7.5rem;
  background-color: #212b38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 25;
}
@media (min-width: 1000px) {
  .nav {
    padding: 0 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.nav .desktop {
  display: none;
}
@media (min-width: 1000px) {
  .nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .desktop .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .nav .desktop .desktopBtn {
    color: white;
    min-width: 100%;
    height: 3.8rem;
    margin-bottom: 1.8rem;
    background: linear-gradient(180deg, #01fce1 0, #01d6c8 31.87%, #0299a0 90.06%);
    cursor: pointer;
    border-radius: 10rem;
    border: 0;
    font-size: 2rem;
    outline: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .nav .desktop a {
    padding: 16px 8px 16px 32px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #29f3db;
    white-space: nowrap;
  }
  .nav .desktop a:hover {
    color: #C2FCF7;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .nav .desktop .left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .nav .desktop .desktopBtn {
    align-content: center;
    min-width: 11.2rem;
    font-size: 1.6rem;
    margin: 0 0 0 2rem;
    padding: 0 0.8rem;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .nav .desktop .desktopBtn:hover {
    box-shadow: 0 5px 15px rgba(194, 252, 247, 0.4);
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 1000px) {
  .nav .desktop .fa-gamepad {
    font-size: 5rem;
    padding-left: 1rem;
  }
}
.nav .desktop form {
  display: inline;
}
.nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #212b38;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6rem;
}
.nav .sidenav .login-btns {
  padding: 18px 24px 0;
  border-bottom: 1px solid rgba(62, 77, 95, 0.3);
}
.nav .sidenav .sidebarBtn {
  color: white;
  min-width: 100%;
  height: 3.8rem;
  margin-bottom: 1.8rem;
  background: linear-gradient(180deg, #01fce1 0, #01d6c8 31.87%, #0299a0 90.06%);
  cursor: pointer;
  border-radius: 10rem;
  border: 0;
  font-size: 2rem;
  outline: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (min-width: 1000px) {
  .nav .sidenav .sidebarBtn {
    align-content: center;
    min-width: 11.2rem;
    font-size: 1.6rem;
    margin: 0 0 0 2rem;
    padding: 0 0.8rem;
  }
}
.nav .sidenav a {
  padding: 16px 8px 16px 32px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #29f3db;
  display: block;
  transition: 0.3s;
}
.nav .sidenav a:hover {
  color: #C2FCF7;
}
.nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2.5rem;
  font-size: 3.6rem;
  margin-left: 50px;
}
.nav .menu-button {
  font-size: 3.5rem;
  color: #85BDBF;
  cursor: pointer;
  margin-left: 2.5rem;
}
@media (min-width: 1000px) {
  .nav .menu-button {
    display: none;
  }
}
.nav .menu-button:hover {
  color: #C2FCF7;
}
.nav h1 {
  font-size: 4.8rem;
  padding-right: 7rem;
  color: #29f3db;
}
@media (min-width: 1000px) {
  .nav h1 {
    padding-right: 0;
  }
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  position: relative;
  overflow: hidden;
  margin-top: 1.6rem;
  border-bottom: 3px solid #212b38;
}
@media (min-width: 1000px) {
  .carousel {
    width: 100%;
    height: 50rem;
    margin-bottom: 15rem;
    padding-bottom: 5rem;
  }
}
.carousel .left-button,
.carousel .right-button {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29f3db;
  background-color: #040F0F;
  font-size: 4rem;
  border-radius: 50%;
  position: absolute;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #C2FCF7;
  background-color: #212b38;
  border: 2px solid #212b38;
}
.carousel .left-button {
  top: 50%;
  left: 2.5rem;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 2.5rem;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
  padding: 0 2rem;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (min-width: 1000px) {
  .carousel img {
    height: 50rem;
  }
}
footer {
  color: #29f3db;
  width: 100%;
  padding: 2rem;
  border-top: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #212b38;
}
footer .fab {
  font-size: 5rem;
  color: #85BDBF;
  margin: 1rem;
}
footer .fab:hover {
  color: #C2FCF7;
}
.home .home_benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
  margin-top: 2.5rem;
}
@media (min-width: 1000px) {
  .home .home_benefits {
    margin-top: 2rem;
  }
}
.home .home_benefits .benefits_item {
  margin: 0 0 1.5rem;
}
@media (min-width: 1000px) {
  .home .home_benefits .benefits_item {
    margin: 3rem;
  }
}
.home .home_benefits .benefits_item .fa-hand-holding-usd {
  font-size: 5rem;
}
.home .home_benefits .benefits_item .itemText {
  font-size: 2.5rem;
  color: #cffbff;
}
@media (min-width: 1000px) {
  .home .home_benefits .benefits_item .itemText {
    font-size: 2rem;
  }
}
.home .home_intro {
  padding: 0 1.8rem;
  display: block;
  text-align: center;
  border-bottom: 1px solid #85BDBF;
}
@media (min-width: 1000px) {
  .home .home_intro {
    max-width: 80rem;
    margin: 0 auto;
  }
}
.home .home_intro p {
  margin: 1.5rem 0 2rem;
  color: #29f3db;
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  .home .home_intro p {
    padding: 0 2rem;
    font-size: 2.8rem;
  }
}
.home .home_intro .mobileBtn {
  color: white;
  background: linear-gradient(180deg, #01fce1 0, #01d6c8 31.87%, #0299a0 90.06%);
  cursor: pointer;
  border-radius: 10rem;
  border: 0;
  font-size: 1.6rem;
  outline: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 2rem;
  min-width: 26.5rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4.2rem;
  padding: 0 7px;
}
@media (min-width: 1000px) {
  .home .home_intro .mobileBtn {
    margin: 3rem 1.5rem;
    height: 5.2rem;
  }
  .home .home_intro .mobileBtn:hover {
    box-shadow: 0 2px 70px rgba(194, 252, 247, 0.4);
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 1000px) {
  .home .home_intro .home_btns {
    display: inline-flex;
  }
}
.home .p-abovecarousel {
  text-align: center;
  color: #cffbff;
  padding-top: 2rem;
}
.home .lower .lower1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #29f3db;
  border-radius: 5rem;
  padding: 2rem;
  margin: 3rem;
  background: linear-gradient(180deg, #112e46 0, #205886 31.87%, #2c7c74 90.06%);
}
@media (min-width: 1000px) {
  .home .lower .lower1 {
    margin-top: -10rem;
  }
}
.home .lower p {
  padding: 2rem 4rem 3rem 4rem;
}
.home .lower .lower2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #29f3db;
  border-radius: 5rem;
  padding: 2rem;
  margin: 3rem;
  background: linear-gradient(180deg, #112e46 0, #205886 31.87%, #2c7c74 90.06%);
}
