/* CSS RESET - Global styles below */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  /* background: #fcfcfc; */
  background: rgba(27, 35, 45, 1);
}

nav {
  background: rgba(27, 35, 45, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One', sans-serif;
  color: #0299a0;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.7rem;
}
h6 {
  font-size: 1.4rem;
}
p,
a,
ul,
li,
tr,
td,
th,
input,
select,
span {
  font-size: 1rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

p {
  font-family: 'Ubuntu', sans-serif;
  color: #212b38;
}

a {
  text-decoration: none;
  color: #29f3db;
}

a:hover {
  color: #c2fcf7;
}

button {
  /* color: white; */
  font-family: 'Ubuntu', sans-serif;
  padding: 5px 10px;
  /* background: #0299a0; */
  /* background: linear-gradient(
    180deg,
    #01fce1 0,
    #01d6c8 31.87%,
    #0299a0 90.06%
  ); */
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
  outline: none;
}
